<% if flash[:notice] %><p class="list-group-item list-group-item-success" id="notice"><%= flash[:notice] %></p><% end %>
<p id="error">
  <% if flash[:error] %>
    <ul class="list-group">
    <% flash[:error].each do |e| %>
      <li class="list-group-item list-group-item-danger"><%= e %></li>
    <% end %>
    </ul>
  <% end %>
</p>

<h1>Customers</h1>
<div class="col-sm-6">
  <%= link_to 'Email to all customers', "#", class: "btn btn-success all-email", data: { confirm: 'Are you sure?' } %>
  <%= text_field_tag 'min', nil, class: "form-control", style: "display: inline-block; width: 70px;", placeholder: "Offset" %>
  <%= text_field_tag 'max', nil, class: "form-control", style: "display: inline-block; width: 70px;", placeholder: "Limit" %>
  <%= link_to 'Multi Email', "#", class: "btn btn-success multi-email", data: { confirm: 'Are you sure?' } %>
</div>
<div class="col-sm-6">
  <%= form_tag '/customers/import', multipart: true, style: "float: right;" do %>
    <%= submit_tag 'Import', class: "btn btn-warning" %>
    <%= file_field_tag 'file', style: "display: inline-block;" %>
  <% end %>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.status %></td>
        <td><%= link_to 'Email', "#", class: "btn btn-success single-email", "data-id": customer.id %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', customer, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @customers %>
<br>

<%= link_to 'New Customer', new_customer_path %>
